/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

* {
    box-sizing: border-box;
}

.app-wrapper {
    width: 80%;
    margin: 0 auto;
}